LECTURE-1

# **ASSIGNMENT** ( name = expression )

In [6]:
i =5
print(i)

j = 3+i
print(j)

j = j+5
print(j)

# NOTE- operations in expressions depnd on TYPE of the value (type(e)---> returns the type of expression)
# NOTE- we dont declare the names of expressions with types; a name can be assigned values of diffrent types

type(j)

5
8
13

int

# **NUMERIC VALUE** (int and float)

In [5]:
# int(no decimal part; can be negative) VS float (2.3456)
# HOW ARE OINT AND FLOAT SAVED IN PYTHON ?

# ARITHMETIC OPERATIONS[+,-,*,/]
# NOTE THAT / ALWAYS PRODUCES A FLOAT - j = 5/6; j is float now !!

# Quotient and remainder : // and %

# exponential : **

# other operations : log(), sqrt(),sin()....    NOTE- built in to python but not available by default
# to use the above : from math import *

# **BOOLEAN VALUE** (True/False)

In [2]:
# logical opertions - NOT(not True is False), AND(X AND Y), OR(X OR Y)

In [7]:
# We generate boolean values through COMPARISON

x = 6
y = 7

print(x==y)
print(x>10)
print(x<10)
print(x!=y)

# we can also combine comparions using (AND,OR,NOT)Logical operation

print(x>19 and x!=y)

# Assign a boolean expression to a name

answer = (x==10)
print("answer = ",answer)

False
False
True
True
False
answer =  False

In [9]:
# example-1

def divison(m,n):
  if (m%n ==0):
    return(True)
  else :
    return(False)


divison(10,2)

True

In [12]:
# example-2

def even(m):
  if (m%2 ==0):
    print("Number is even")
  else:
    print("Number is not even")

even(233)

Number is not even

In [15]:
# example-3 (making use of example-1 )
def odd(m):
  return(not divison(m,2))

odd(233)

True

LECTURE-2

# **STRINGS**

In [1]:
# MANIPULATING TEXT ---> text processing (documentr preparation, importing/exporting spreadsheet data, Matching search queries to content)

In [2]:
# STRING - string is a seqience of characters

# NOTE- in python we dont have a diffrent data type of character(char) which are single characters
# NOTE- in python single character is a String of length 1

# NOTE- we can use all ('ayushi'), ("ayushi"), )('''ayushi''')
# " \' " --> this is used to use a single quote in a sentense and not take it as the end of the string e.g ayushi's

In [6]:
# using ()",') in between string

print('ayushi\'s')
print("ayushi's")
print('''ayushi is a "GOOD" girl. she's the best''')
print('''ayushi is a "GOOD" girl.
she's the
best''')

ayushi's
ayushi's
ayushi is a "GOOD" girl. she's the best
ayushi is a "GOOD" girl.
she's the
best

# **STRINGS AS SEQUENCES**

In [7]:
# STRINGS AS SEQUENCES - indexing in python starts from 0 ; -1 index menas last element

In [11]:
# extracting charaters of string from specific indexes
string = "what a day"
print(string[5])
print("last element of string is", string[-1])
print("first element of string is", string[0])

a
last element of string is y
first element of string is w

# **OPERATIONS ON STRING**

In [17]:
# Combine 2 string : CONCATINATE (+)

S = "HELLO"
D = " AYUSHI"
print(S+D)

# FIND THE LENGTH OF A STRING

print(len(S))
print(len(D))

HELLO AYUSHI
5
7

# **EXTRACTING SUBSTRINGS**

In [24]:
# A SLICE IS A SEGEMNT OF A STRING


name = "Ayushi Singh"
print(name[0:4]) # [starting:end] ----> where "starting" is included but "end" is not included
print(name[:4]) # this takes default starting value as 0
print(name[0:]) # takes till the end, including the last element, "end"--> length of string

Ayus
Ayus
Ayushi Singh

# **MODIFYING STRINGS**

In [ ]:
# STRINGS ARE IMMUTABLE

In [26]:
# we cant really update a particular index of a string
# e.g s[3] = "p" ---> ERROR!

# INSTEAD WE SLICE AND CONCATINATE - build a new string from theold string

s= "hello"
s=s[0:3]+"p!"
print(s)

help!

LECTURE - 3

# **LIST**

In [27]:
# list can contain values of DIFFRENT DATA TYPES
# list is also a sequence of values, just like a string --> we can extract values at given positions; We can also slice the list.

In [31]:
# list VS string

h = "hello"
print(h[0])
print(h[0:1])

list=[1,2,3,4]
print(list[0])
print(list[0:1])

# we notice that upon slicing in list, we get a list in return not a character, unlike in strings.
# list can also be updated in place but not in string

h
h
1
[1]

# **NESTED LIST**

In [35]:
nested_list= [[1,2,3],[4,5,6],[7,8,9],10]
# 3 list in nested_list
print(nested_list[0])
print(nested_list[1][2]) # second index of list present at index 1 of nested_list

# slicing in nested list
print(nested_list[2][0:2])

[1, 2, 3]
6
[7, 8]

# **UPDATING LIST**

In [37]:
# list can also be updated in place but not in string

LIST=[1,2,3,4,5,6]
LIST[2]=99
print(LIST)

[1, 2, 99, 4, 5, 6]

In [46]:
# Mutable vs Immutable
j=6
l=8
j=l
print(j)

r=5
y=r
r=8
print(y) # r doesnt get updated with new value of y since y was just a copy of previous r
# this is IMMUTABLE NATURE

# MUTABLE NATURE OF LIST
LIST1=[1,2,3,4,5]
LIST2=LIST1
print(LIST2)
LIST1[2]=88
print(LIST2) # thus LIST2 automatically changes

8
5
[1, 2, 3, 4, 5]
[1, 2, 88, 4, 5]

# **COPYING LIST**

In [48]:
# we actually saw that above list was getting automatically updated, so how to make copies of the list tat doesnt get updated \

# A SLICE CREATES A NEW SUB-LIST FROM THE OLD ONE

LIST3=[1,2,3,4,5,6]
COPY_LIST3=LIST3[:] # full-slice
print(COPY_LIST3)

[1, 2, 3, 4, 5, 6]

# **DIGRESSION ON EQUALITY**

In [54]:
l1=[1,2,3]
l2=[1,2,3]
l3=l2

print(l1)
print(l2)
print(l3)

# note here l1 and l2 are 2 diffrent list with same values, but l2 and l3 refer to the same list, manipulating one might change other
# manipulating l1 will affect affect on none of l2 and l3

print(l1==l2)
print(l2==l3) # checks if l1 and l2 have same value but we know that l1 is differnt than l2 and l3


# to check if both a x and y refer to the same object or  not (like in case of l2 and l3, updating one, updates the other)
print(l2 is l1) #---> FALSE
print(l2 is l3)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
True
True
False
True

# **CONCATENATION OF LIST**

In [57]:
L3=[1,2,3]
L4=[4,5,6]
L5=L3+L4
print(L5)

L7=L5
L5=L5+[2] # + always produces a new list
print("L7 is : ",L7)
print("L5 is : ",L5)

[1, 2, 3, 4, 5, 6]
L7 is :  [1, 2, 3, 4, 5, 6]
L5 is :  [1, 2, 3, 4, 5, 6, 2]

LECTURE - 4

# **CONTROL FLOW**

In [59]:
# CONTROL FLOW - detemines the order in which statements are executed
# Three main types --> CONDITIONAL EXECUTION(if,elif,else), REPEATED EXECUTION(for and while loops),FUNCTION DEFINATION

# **CONDITINAL EXECUTION**

In [65]:
# Example

x=90
if x<30:
  print("smaller than 30")
else:
  print("larger than 30")

# ELSE IS OPTIONAL
# if,elif,eilf...,else

larger than 30

# **LOOPS**

In [79]:
# LOOPS - repeat something n number of times
l=[1,2,3,4,5,6,7,8,9]

for i in range(1,5):
  print(i)

# range(start,end)---> doesnt include end, goes till end-1


# example - To find factors of a number
def factors(n):
  factor=[]
  for i in range (1,n+1):
    if n%i==0:
      factor.append(i)
      i=i+1
  print(factor)

factors(10)

1
2
3
4
[1, 2, 5, 10]

# **WHILE LOOP**

In [83]:
i=2
while i<10:
  print(i)
  i=i+1

2
3
4
5
6
7
8
9

LECTURE-5

# **FUNCTIONS**

In [84]:
# reuseable block of code

In [90]:
# example
def power(x,n):
  ans=1
  for i in range(0,n):
    ans=ans*x
  return(ans)

print(power(2,2))
print(power(2,3))
print(power(2,4))

4
8
16

In [98]:
# example
def update(l,i,v):
  if i<len(l):
    l[i]=v
    print(l)
    return(True)
  else:
    print("value doesnt lie in range")

l=[1,2,3,4,5,6,7,8]
print(update(l,2,77))
print("when value is out of range: ",update(l,44,88))

[1, 2, 77, 4, 5, 6, 7, 8]
True
value doesnt lie in range
when value is out of range:  None

In [102]:
# WHAT IS THE USE OF RETURN STATEMENT IN PYTHON ?

'''

The return statement in Python is used to:

1.Exit a function.
2.Provide a value back to the caller of the function.
3.You can return any type of value from a function.
4.If no value is specified, it returns None by default.

'''

'\n\nThe return statement in Python is used to:\n\n1.Exit a function.\n2.Provide a value back to the caller of the function.\n3.You can return any type of value from a function.\n4.If no value is specified, it returns None by default.\n\n'

# **SCOPE OF NAMES**

In [105]:
# name within a function have local scope
x=8

def fun(n):
  x=19
  print("value of x inside the function is :",x)
  return(n)

fun(22)
print("value of x outside the function is :",x)

value of x inside the function is : 19
value of x outside the function is : 8

# **DEFINING FUNCTIONS**

In [119]:
def f(x):
  return god(x+1) #---> tdoing this is fine

#z=f(77)
#print(z). ---> this will give error

def god(y):
  return (y+3)

z=f(77)
print(z)

81

# **RECURSIVE FUNCTIONS**

In [120]:
# a function ca call itself